# LEAPS - Low Energy Accurate Positioning System.
#
# LEAPS LC13 board configuration
#
# Copyright (c) 2025, LEAPS. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_LEAPS_LC13
	bool "LEAPS LC13"
	depends on SOC_NRF52840_QIAA
